.modalCardContainer {
  background-color: #ffffff;
  padding: rem-calc(16);
  border-radius: rem-calc(8);
  width: 80%;
  max-width: rem-calc(600);
  max-height: rem-calc(800); /* Batasi tinggi */
  overflow: hidden; /* Sembunyikan konten yang meluap */
  display: flex;
  justify-content: space-between;
  position: relative;

  .modalImageContainer {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem-calc(16);
    flex: 1 1 fit-content;

    .modalImage {
      width: 100%;
      height: auto; /* Batasi tinggi gambar */
      max-height: rem-calc(300); /* Batasi tinggi gambar */
    }
  }

  .modalDescription {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem-calc(16);
    flex: 1 1 fit-content;

    .modalTitle {
      font-size: rem-calc(18);
      font-weight: bold;
      margin-bottom: rem-calc(8);
    }

    .modalCategory {
      font-size: rem-calc(14);
      color: #666;
      margin-bottom: rem-calc(16);
    }

    .modalDescriptionText {
      font-size: rem-calc(14);
      color: #666;
      margin-bottom: rem-calc(16);
      word-wrap: break-word;
      overflow-wrap: break-word;
      max-height: rem-calc(200); /* Batasi tinggi konten */
      overflow-y: auto; /* Scroll jika konten terlalu panjang */
    }

    .containerCartPriceWishlist {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .containerWishlistCart {
        display: flex;
        align-items: center;
        gap: rem-calc(16);

        .modalCartIcon {
          height: 1.5rem;
          width: 1.5rem;
        }
      }

      .containerWishlist,
      .containerCart {
        position: relative;

        .modalWishlist,
        .modalCart {
          background-color: $danger;
          color: $white;
          text-align: center;
          border-radius: 50%;
          padding: 1px 5px;
          font-size: 0.7em;
          position: absolute;
          top: -10px;
          right: -5px;
        }
      }
    }

    .modalButtonContainer {
      border-radius: rem-calc(4);
      overflow: hidden;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      margin-top: rem-calc(16);

      .modalButton1 {
        width: 100%;
        background-color: $danger;
        border-radius: 0;
        color: $white;
      }

      .modalButton2 {
        width: 100%;
      }
    }
  }
}

/* Gaya flex untuk layar kecil tanpa media query */
@media (max-width: 768px) {
  .modalCardContainer {
    flex-direction: column;
    height: 80%;
    overflow-y: auto;

    .modalImageContainer,
    .modalDescription {
      width: 100%;
    }
  }
}
